

.landing-container{
    padding: 12em 0;
}


/* LANDING TITLE */

.landing-title, .landing-subtitle{
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    
    animation-name: title-reveal;
    animation-fill-mode: forwards;
    
    letter-spacing: 2em;
    color: var(--clear);
    
    white-space: nowrap;
}

@media only screen and (min-width: 1001px){
    .landing-title{
        font-size: 4em;
        
        animation-duration: 7s;
        animation-delay: 1s;
        
    }
    
    .landing-subtitle{
        font-size: 1.5em;
        
        animation-duration: 7s;
        animation-delay: 3s;
    }
} 


@keyframes title-reveal{
    0%{
        letter-spacing: 1.25em;
        color: var(--clear);
    }
    100%{
        letter-spacing: 0.5em;
        color: var(--dark);
        text-shadow: 1px 1px 5px var(--grey);
    }
}

@keyframes title-reveal-mobile{
    0%{
        letter-spacing: 0.6em;
        color: var(--clear);
    }
    100%{
        letter-spacing: 0.5em;
        color: var(--dark1);
        text-shadow: 1px 1px 5px var(--grey);
    }
}

@media only screen and (max-width: 1300px){
    .landing-title, .landing-subtitle{
        font-weight: 300;
        font-family: Arial, Helvetica, sans-serif;
        color: var(--clear);
        letter-spacing: 0.25em;

        animation-name: title-reveal-mobile;
        animation-duration: 5s;
        animation-delay: 1s;
    }
}