

.desktop-navbar{
    width: calc(100% - 8em);
    max-width: 1600px;
    margin: 0 auto;
    padding: 3em 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    background-color: var(--dark1);
}

.desktop-navbar a{
    text-decoration: none;
    color: var(--light1);

    border: 1px solid var(--light1);
    border-radius: 8px; 
    padding: 1em 1.5em;

}

.desktop-navbar a:hover{
    animation-name: nav-mouseover;
    animation-duration: 0.50s;
    animation-fill-mode: forwards;
    font-weight: 300;
}

@keyframes nav-mouseover{
    from{
        background-color: var(--dark1);
        color: var(--light1);
        font-weight: 300;
    }
    to{
        background-color: var(--light1); 
        color: var(--dark1);
        letter-spacing: .35em;
        font-weight: 800;
        border-color: var(--dark1);
        box-shadow: 1px 1px 5px var(--grey) inset;
        text-shadow: 2px 2px 5px var(--grey); 
    }
}

@media only screen and (max-width: 1100px){
    .desktop-navbar div{
        /* display: none; */
        transform: scale(0.78);
    }
}

@media only screen and (max-width: 850px){
    .desktop-navbar{
        display: none;
    }
}