.icon-container{
	/* width: 15em; */
	margin: 1em auto;
	/* padding: 5em; */
}

.desktop-screen-frame{
	width: 15em;
	height: 10em;
	margin: 0 auto;
	background-color: #616161;

	border-radius: 4px;
	padding-top: 5px

}

.image-screen{
	width: calc(100% - 2px);
	height: calc(100% - 2px);
    margin: 0 auto;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px;
}


.laptop-screen-frame{
	height: 7em;
	width: 10em;
	margin: 0 auto;
	background-color: #616161;
	padding: .5em .4em;
	border-radius: 8px
}

.laptop-bass{
	height: 0.5em;
	width: 13em;
	margin: 0 auto;
	background-color: #616161;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}
